<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <ag-grid-angular 
  style="width:1400px;height: 720px;"
  class="ag-theme-balham"
  [columnDefs]="columnDefs" 
  [enableSorting]="true" 
  [enableFilter]="true"
  [pagination]="true"
  [sortingOrder]="sortingOrder"
  [animateRows] = "true"
  [frameworkComponents] ="frameworkComponents"
  (gridReady)="onGridReady($event)"></ag-grid-angular>
</div>
<router-outlet></router-outlet>
